<div class="row">
  <div class="col-sm-12">

    <% suppliers.forEach(function(supplier) { %>
      <div class="row search-result">
        <div class="col-sm-12">
          <h3><%= supplier.name %></h3>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h4>Capability</h4>
              <ul>
                  <li>User Research: <%= supplier.capability.user_research %></li>
                  <li>User Experience & Design: <%= supplier.capability.user_experience_and_design %></li>
                  <li>Testing and Auditing: <%= supplier.capability.testing_and_auditing %></li>
                  <li>Support and Operations: <%= supplier.capability.support_and_operations %></li>
                  <li>Software Development: <%= supplier.capability.software_development %></li>
                  <li>Service Delivery: <%= supplier.capability.service_delivery %></li>
                  <li>Security: <%= supplier.capability.security %></li>
                  <li>Performance analysis and data: <%= supplier.capability.performance_analysis_and_data %></li>
              </ul>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <h4>Working Locations</h4>
              <ul>
                <li>Remote Working Capable: <%= supplier.location.remote_working %></li>
                <li>London: <%= supplier.location.london %></li>
                <li>Scotland: <%= supplier.location.scotland %></li>
                <li>Wales: <%= supplier.location.wales %></li>
                <li>Northern Ireland: <%= supplier.location.northern_ireland %></li>
                <li>North East England: <%= supplier.location.north_east_england %></li>
                <li>North West England: <%= supplier.location.north_west_england %></li>
                <li>South East England: <%= supplier.location.south_east_england %></li>
                <li>South West England: <%= supplier.location.south_west_england %></li>
                <li>East Of England: <%= supplier.location.east_of_england %></li>
                <li>West Midlands: <%= supplier.location.west_midlands %></li>
                <li>East Midlands: <%= supplier.location.east_midlands %></li>
                <li>Yorkshire & The Humber: <%= supplier.location.yorkshire_and_the_humber %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% }) %>

  </div>
</div>